.product {
  padding: 90px 0;
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    justify-content: space-between;
  }
  &__text {
    span {
      display: block;
      text-align: center;
      &:first-child {
        color: #fff;
        font-weight: 300;
        font-size: 41px;
        letter-spacing: 0.03em;
      }
      &:nth-child(2) {
        color: #ff3e42;
        font-size: 90px;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1.1;
      }
      &:last-child {
        color: #fff;
        font-size: 25px;
        font-weight: 300;
      }
    }
  }
}

.product-block {
  padding: 0 20px;
  width: 33.33%;
  max-width: 290px;
  overflow: hidden;
  &_pd {
    padding-top: 50px;
  }
  &__container {
    display: block;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      opacity: 0.9;
    }
  }
  &__image {
    position: relative;
    &:before {
      content: '';
      display: block;
      padding-top: 90%;
    }
    img {
      display: block;
      position: absolute;
      width: 124%;
      height: 128%;
      top: -10%;
      left: -12%;
      pointer-events: none;
    }
  }
  span {
    display: block;
    padding-top: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #6bb6fb;
    text-align: center;
  }
}