doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper
      .page
        .overlay
        include blocks/header 
        main.main
          include blocks/home
          include blocks/product
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js") 
    //parralax
    script(src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js")                 
    script(src="js/common.min.js")