footer.footer
  .container
    .footer__container
      .logo
        a(href="https://satra.ru/").logo__link
          img(src="img/logos/logo-footer.svg", alt="").logo__image
      ul.numbers
        li
          a(href="tel:88007778508") 8 (800) 777-85-08
        li
          a(href="tel:84997538888") 8 (499) 753-88-88
  .footer__copy
    .container
      span 2016-2019 © Satra.ru — Интернет-магазин сантехники. Все права защищены