header.header
  .container
    .header__container
      .header__main
        a(href="#").nav-open
          span
        .logo
          a(href="https://satra.ru/").logo__link
            img(src="img/logos/logo-small.svg", alt="").logo__image
        a(href="https://satra.ru/users/auth/").header__lc <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.99439 8.43246C4.68035 8.43246 0.050293 9.54485 0.050293 11.7687V14.1507H13.9375V11.7687C13.9375 9.54485 9.30942 8.43246 6.99439 8.43246Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M6.99819 0.0804138C5.41758 0.0804138 4.13477 1.36204 4.13477 2.94002C4.13477 4.518 5.41758 5.79868 6.99819 5.79868C8.57976 5.79868 9.85303 4.518 9.85303 2.94002C9.85303 1.36204 8.57976 0.0804138 6.99819 0.0804138Z" fill="white"/></svg>
        form.search(action='https://satra.ru/search/search_found/', method='get')
          .search__container
            button(type='submit') <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" version="1.1" width="50px" height="50px"><g id="surface1"><path style=" " d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z "/></g></svg>
            input(type='text', placeholder='Поиск', name='search_string' required)
      .header__right
        ul.header__numbers
          li
            a(href="tel:88007778508") 8 (800) 777-85-08
          li
            a(href="tel:84997538888") 8 (499) 753-88-88
        a(href="https://satra.ru/users/auth/").header__lc <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.99439 8.43246C4.68035 8.43246 0.050293 9.54485 0.050293 11.7687V14.1507H13.9375V11.7687C13.9375 9.54485 9.30942 8.43246 6.99439 8.43246Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M6.99819 0.0804138C5.41758 0.0804138 4.13477 1.36204 4.13477 2.94002C4.13477 4.518 5.41758 5.79868 6.99819 5.79868C8.57976 5.79868 9.85303 4.518 9.85303 2.94002C9.85303 1.36204 8.57976 0.0804138 6.99819 0.0804138Z" fill="white"/></svg>
nav.nav
  .nav__head
    form.search(action='https://satra.ru/search/search_found/', method='get')
      .search__container
        button(type='submit') <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" version="1.1" width="50px" height="50px"><g id="surface1"><path style=" " d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z "/></g></svg>
        input(type='text', placeholder='Поиск', name='search_string' required)
    a(href="#").nav-close
  .nav__container
    ul.nav__list
      li
        a(href="https://satra.ru/shourum/") Шоурум
      li
        a(href="https://satra.ru/oplata/") Оплата
      li
        a(href="https://satra.ru/dostavka/") Доставка
      li
        a(href="https://satra.ru/ustanovka/") Установка
      li
        a(href="https://satra.ru/contacts/") Контакты
      li
        a(href="https://satra.ru/about/") О компании
    ul.header__numbers
      li
        a(href="tel:88007778508") 8 (800) 777-85-08
      li
        a(href="tel:84997538888") 8 (499) 753-88-88