.home
  #scene
    .scene-layer.lazy(data-depth="0.05")
      img(data-src="img/backgrounds/cloud1.png", alt="").lazy.scene-layer__cloud1
    .scene-layer.lazy(data-depth="0.05")
      img(data-src="img/backgrounds/cloud2.png", alt="").lazy.scene-layer__cloud2
    .scene-layer.lazy(data-depth="0" data-src="img/backgrounds/kreml.png").lazy.scene-layer_kreml
    .scene-layer(data-depth="0.2")
      img(data-src="img/backgrounds/bird1.png", alt="").lazy.scene-layer_bird1
    .scene-layer(data-depth="0.3")
      img(data-src="img/backgrounds/bird2.png", alt="").lazy.scene-layer_bird2
  .container
    .home__container
      .home__text
        span 12 июня
        span День России
      .home__title
        span Неделя<br> независимости
        span от высоких цен
      .scroll-button
        a(href="#product").scroll-button__button


