.product
  .container
    .product__container
      .product__row
        .product-block.product-block_pd
          a(href="#").product-block__container
            .product-block__image
              img(data-src="img/image1.png", alt="").lazy
            span.product-block__title Мебель
        .product-block
          a(href="#").product-block__container
            .product-block__image
              img(data-src="img/image2.png", alt="").lazy
            span.product-block__title Унитазы
        .product-block.product-block_pd
          a(href="#").product-block__container
            .product-block__image
              img(data-src="img/image3.png", alt="").lazy
            span.product-block__title Ванны
      .product__text
        span В честь праздника, на все<br> сантехнические изделия <strong>произвдства России</strong>
        span дарим скидку 12%
        span Срок проведения акции с 10 по 16 июня